p{
    border-radius: 1px;
    background-color: white;
    font-family: sans-serif;
    white-space: pre-wrap;
    b
    }
    
    body{
        background-color: snow;
        padding-top: 20px;
    }


h2,h4{color:blue;}

.row:hover{
border-left: green 5px solid;
}


.row{
    margin: 10px;

}